/* Estilos generales */
* {
    box-sizing: border-box;
}

html {
    font-size: 1.1em;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    background: #fff;
    color: #343434;
}

h1,
h2,
ul,
li,
figure {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #1c1b1b;
    margin-bottom: 0.5em;
    font-weight: 300;
}

h2 {
    font-size: 1.2em;
    color: #802f48;
    text-transform: uppercase;
}

p,
a {
    color: #1c1b1b;
}

ul {
    list-style: none;
}

address {
    font-style: normal;
}

.separador {
    height: 2px;
    margin: 1.2em auto;
    width: clamp(150px, 35%, 350px);
    background-color: #fff;
}

.button {
    display: inline-block;
    margin: 1em auto;
    padding: 0.5em 1.5em;
    color: #f5f0ed;
    text-decoration: none;
    font-weight: 400;
    border: 2px solid #111010;
    font-size: .9rem;
}

.button:hover, .btn:hover {
    background: #802f48;
    color: #f5f0ed;
    border-color: #f5f0ed;
}

img {
    max-width: 90%;
    height: auto;
    display: block;
}

.text-center {
    text-align: center;
}


/* Estructura */
.ancho-maximo {
    max-width: 1180px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.col-2 > * {
    flex-basis: 50%;
}

.gapped {
    /* gap: 0.2em; */
    row-gap: 10px;
    column-gap: 10px;
}

/* Header y navegación */
/* header principal */
.frase-slogan {
    font-size: .7em;
    background: #070606;
    color: #f5f0ed;
    padding: 0.5em 0;
    text-align: center;
    text-transform: uppercase;
}

/* header superior */
.main-header__top-bar {
    color: #343434;
    padding: 0.5em 0;
}

.main-nav.flex {
    justify-content: center;
    align-items: center;
}

.main-nav__list.flex {
    gap: 1.5em;
    margin-right: 100px;
}

.main-nav__list.flex li a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8em;
}

.main-nav__list li a:hover {
    color: #802f48;
}

.main-nav__logo {
    width: 150px;
    height: 50px;
}

.main-nav__logo a img {
    margin-left: -10em;
}

/*zona inferior header */
.main-header__bottom-bar {
    background: url('../images/header-background.webp');
    height: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 8em;
    color: #f5f0ed;
}

.main-header__bottom-bar .flex {
    height: 220px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.main-header__bottom-bar h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: 300;
    text-transform: uppercase;
    background: rgb(0, 0, 0, 0.2);
    letter-spacing: .1em;
    color: #fff;
}

.main-header__bottom-bar a {
    color: #000;
    background: #f5f0ed;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8em;
    padding: 0.8em 0.8em;
    margin-top: 10px;
    ;
}

/* zona principal */
main {
    margin: 2em auto;
}

main h2 {
    margin-top: 60px;
}

main p {
    margin-bottom: 1.5em;
    font-size: 1.1em;
    line-height: 1.2;
}

.contenedor-artesanos {
    margin-top: 60px;
}

.artesano.flex {
    flex-wrap: nowrap;
    background: #f0f0ec;
}

.artesano__info .artesano__description {
    font-size: 2.1em;
    margin-bottom: 0.5em;
    font-weight: 400;
}

.artesano__info {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.artesano__img {
    flex-basis: 68%;
}

.contenedor-artesanos .artesano:nth-child(even) .artesano__img {
    order: 2;
    margin-left: 43px;
}

.contenedor-artesanos .artesano:nth-child(even) .artesano__img img {
    max-width: 100%;
    display: block;
}

.contenedor-artesanos .artesano:nth-child(even) .artesano__info {
    margin-left: 150px;
    align-items: flex-end;
}

.contenedor-artesanos .artesano:nth-child(even) .artesano__info .artesano__description {
    text-align: right;
}

.artesano__info a {
    font-size: 1.2em;
    background-color: #fff;
    color: #0a0104;
    text-decoration: none;
}

.artesano__datos span {
    font-weight: 600;
    color: #802f48;
}

.text-center {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 50px;
}

.text-center a:hover {
    color: #802f48;
    text-decoration: none;
    font-weight: 600;
}

/* Footer */
.main-footer {
    height: 100%;
    background: url('../images/sostenibilidad.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2em 0;
}

.imagen-oscura {
    position: relative;
    overflow: hidden;
}

.imagen-oscura::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7));
    z-index: 1;
}

.main-footer__top-bar {
    gap: 1.5em;
    justify-content: space-around;
}

.main-footer__mensaje,
.main-footer__formulario {
    flex-basis: 48%;
}

.main-footer__mensaje abbr {
   cursor: help;
}

.main-footer__top-bar p {
    color: #fff;
    position: relative;
    z-index: 99;
}

.main-footer__formulario p {
    color: #fff;
}

.main-footer h2 {
    color: #fff;
    text-transform: math-auto;
    font-size: 1.2em;
    position: relative;
    z-index: 99;
}

.main-footer__formulario form {
    color: #fff;
    position: relative;
    z-index: 99;
}

.main-footer__formulario form fieldset {
    margin-bottom: 1em;
    border: none;
}

.main-footer__formulario form .campo-formulario {
    margin: 0;
    border: none;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: rgb(255,255,255,0.7);
    margin: 0 40px 0 0px;
}

.main-footer__formulario form a {
    padding: 0 0.4em;
    color: #f5f0ed;
    text-decoration: none;
    font-weight: 400;
}

label[for="clausulas"] a:hover {
    font-weight: 600;
    color: #802f48;
}

input[type="submit"] {
    border: none;
    padding: .8em 1.5em;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
    width: 95%;
}

.main-footer__bottom-bar {
    background: #0e0d0d;
    padding: 2em 0;
    text-align: center;
    margin: 60px 0 -40px 0px;
    width: 100%;
    position: relative;
    z-index: 99;
}

.main-footer__bottom-bar ul {
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-footer__bottom-bar ul li {
    color: #fff;
}

.main-footer__bottom-bar ul li a {
    color: #fff;
    text-decoration: none;
}

.main-footer__bottom-bar ul li a:hover {
    color: #f5f0ed;
}

.main-footer__copyright {
    color: #fff;
}